body {
    font-family: Arial;
    padding: 20px;
}

button {
    margin: 5px;
    padding: 8px 12px;
}

#box,
#myDiv,
#nameBox {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    min-height: 40px;
}