body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.box, .card, .circle, button, img, a {
    margin: 20px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    line-height: 100px;
}

/* 1 */
.move-right {
    transform: translateX(100px);
}

/* 2 */
.move-down-left {
    transform: translate(-30px, 50px);
}

/* 3 */
.rotate-box {
    transform: rotate(90deg);
}

/* 4 */
.rotate-image:hover {
    transform: rotate(180deg);
}

/* 5 */
.scale-box {
    transform: scale(2);
}

/* 6 */
.shrink-btn:hover {
    transform: scale(0.5);
}

/* 7 */
.scale-x {
    transform: scaleX(2);
}

/* 8 */
.scale-y {
    transform: scaleY(2);
}

/* 9 */
.skew-x {
    transform: skewX(20deg);
}

/* 10 */
.skew-y {
    transform: skewY(15deg);
}

/* 11 */
.translate-rotate {
    transform: translateX(50px) rotate(45deg);
}

/* 12 */
.card {
    width: 120px;
    height: 120px;
    background: pink;
    line-height: 120px;
}
.hover-card:hover {
    transform: translateY(-20px) rotate(5deg) scale(1.1);
}

/* 13 */
.zoom-image:hover {
    transform: scale(1.5);
}

/* 14 */
.flip-card:hover {
    transform: rotateY(180deg);
}

/* 15 */
.all-transform {
    transform: translate(20px, 20px) rotate(20deg) scale(1.2) skew(10deg, 10deg);
}