/* ===== Task 1 ===== */
/* body {
    background-color: black;
}

p {
    color: white;
} */

/* ===== Task 5 ===== */
/* p {
    color: green;
} */

/* ===== Task 8 ===== */
/* p {
    color: green;
} */